<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441374976580-q7qoa4kr2etr5lru8u5vilqb1mhta0s0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441374976580-q7qoa4kr2etr5lru8u5vilqb1mhta0s0</string>
	<key>API_KEY</key>
	<string>AIzaSyBdbKYgY_2gHf1aOVrd52zFhayNB-hRd9k</string>
	<key>GCM_SENDER_ID</key>
	<string>441374976580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jlvlg.pentagon</string>
	<key>PROJECT_ID</key>
	<string>pentagon-3b34b</string>
	<key>STORAGE_BUCKET</key>
	<string>pentagon-3b34b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441374976580:ios:4d37d3f4a6e2c9069caa11</string>
</dict>
</plist>